{% extends "_global/cover_page.html" %}
{% block naslov %}Naslovna{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ BASE }}assets/css/slider.css" />
<link rel="stylesheet" href="{{ BASE }}assets/css/card.css" />
{% endblock %}

{% block js %}
<script src="{{BASE}}assets/js/addToCart.js"></script>
{% endblock %}

{% block embedded_js %}
$(document).ready(function() {
 $('#navbarMain > ul > li:nth-child(1) > a').addClass('active');
});
{% endblock %}
{% block profile %}
{% if userId %}
    <div>
        <div class="reg-text">
            <span class="dropleft">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{userForename}} {{userSurname}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user/profile">Profil</a></li>
                    <li><a class="dropdown-item" href="/user/addBook">Dodaj knjigu</a></li>
                    <li><a class="dropdown-item" href="/user/logout">Odjavi se</a></li>
                </ul>
            </span>
        </div>

        <img src="Assets/img/pocetniLogo0.png" class="img-fluid" />
    </div>
{% else %}
    <div>
        <div class="reg-text">
            <a href="/user/register">Registrujte se</a>
            /
            <a href="/user/login">Prijavite se</a>

            <img src="{{ BASE }}assets/img/avatar.png" class="image-avatar">
        </div>

        <img src="Assets/img/pocetniLogo0.png" class="img-fluid" />
    </div>
{% endif %}
{% endblock %}
{% block main %}
<div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <form method="post" action="/search">
        <ul class="nav flex-column text-white w-100">
            <a href="#" class="nav-link h3 my-2">
                Detaljna pretraga
            </a>
            <li href="#" class="nav-link underline">
                <span class="mx-2">Ključne riječi</span>
            </li>
            <div class="input-group rounded p-2 pr-3">
                <input type="search" class="form-control rounded" name="q" placeholder="Naslov knjige" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="bi bi-search"></i>
                </span>
            </div>
            <li href="#" class="nav-link underline">
                <span class="mx-2">Kategorija</span>
            </li>
            <ul>
                <li class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-1" name="category" value="1" style="display:none">
                <label for="f-1" class="checkbox" ></label> Osnovna škola
              </span>
                </li>
                <li href="#" class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-2" name="category" value="2" style="display:none">
                <label for="f-2" class="checkbox"></label> Srednja škola
              </span>
                </li>
                <li href="#" class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-3" name="category" value="3" style="display:none">
                <label for="f-3" class="checkbox"></label> Fakultet
              </span>
                </li>
            </ul>
            <li href="#" class="nav-link underline">
                <span class="mx-2">Stanje</span>
            </li>
            <ul>
                <li href="#" class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-4" name="state" value="1" style="display:none">
                <label for="f-4" class="checkbox"></label> Dobro
              </span>
                </li>
                <li href="#" class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-5" name="state" value="2" style="display:none">
                <label for="f-5" class="checkbox"></label> Srednje
              </span>
                </li>
                <li href="#" class="nav-link">
              <span class="mx-2">
                <input type="radio" id="f-6" name="state" value="3" style="display:none">
                <label for="f-6" class="checkbox"></label> Loše
              </span>
                </li>
            </ul>
            <li href="#" class="nav-link underline">
                <span class="mx-2">Cijena</span>
            </li>
            <div class="slidecontainer">
                <input type="range" min="0" max="100" value="50" class="slider" id="myRange" name="price">
            </div>
            <div class="price-range">
                <label>0</label>
                <label>50</label>
                <label>100</label>
            </div>
            <div class="price-range sum-price">
                <label>Cijena do: </label>
                <label id="demo">0 </label>
                <label> KM</label>
            </div>
            <button type="submit" class="button-filter-search">
                Pretraga
            </button>
        </ul>
    </form>
</div>

<!--Dugme za sidenav-->
<div class="p-1 my-container">
    <div class="navbar top-navbar navbar-light px-5"  >
        <a class="btn border-0" id="menu-btn" style="background-color: #012497;">
            <i id="toggleBtn" class="bi-caret-right-fill" ></i>
        </a>
    </div>
    <section>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <div id="bookList" class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

            </div>
        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" id="previous">
                    <a class="page-link" href="#">Prethodna</a>
                </li>
                <li class="page-item" id="next">
                    <a class="page-link" href="#">Sledeća</a>
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
{% block specific_scripts %}
<script type="text/javascript" src="{{ BASE }}assets/js/listBooks.js"></script>
<script type="text/javascript" src="{{ BASE }}assets/js/sidenav.js"></script>
<script type="text/javascript" src="{{ BASE }}assets/js/slider.js"></script>
{% endblock %}
