@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orbitron&display=swap');

* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.img-logo{
    margin-top: 20px;
    width: 500px;
    height: 100px;
    color: white;
}

#cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
    float: right;
}
#cart img {
    margin-top: 20px;
    height: 100px;
}
#cart a:hover {
    cursor: pointer;
}
#cart>div+div {
    text-align: right;
    font-size: 14px;
    color: #000000;
}
.bookmark-price {
    text-align: right;
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.bookmark-price>span {
    font-size: 20px;
}

#nav-cart {
    position: relative;
}
#nav-cart > img {
    height: 30px;
    width: 30px;
}
#nav-cart > span {
    position: absolute;
    font-size:12px;
    background-color:red;
    width:14px;
    height:14px;
    color:#fff;
    top: -4px;
    right: -4px;
}

.reg-text {
    text-align: right;
    margin: 0;
    color: blue;
    height: 40px;
    font-size: 20px;
    background-color: rgba(204, 204, 204, 0.1);
    border-bottom: 2px solid #cccccc;
    float:none;
}
.reg-text > a{
    text-decoration: none;
    padding-right: 5px;
    color: blue;
    font-size: 20px;
    font-style: italic;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 1rem;
    margin-bottom: 30px;
}

.v-line {
    background-color: #ccc;
    width: 1px;
    margin: auto;
    display: block;
    height: 19rem;
}

#togglePassword{
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#togglePassword:hover {
    cursor: pointer;
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}

.btn-signup {
    color: white;
    background-color: rgb(110, 25, 25);
    border-radius: 20px;
    width: 100%;
    margin-top: 2vh;
}
.btn-signup:hover {
    background-color: rgb(110, 25, 25);
    color: white;
}

.social-media > button {
    width: 100%;
    margin-top: 2vh;
}
.auth-provider {
    font-family: system-ui,roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    padding: 0 21px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #d6d9dc;
    text-align: center;
    background: #FFF;
    color: #535a60;
    height: 48px; 
 }
 .google-login {
    color: #535a60;
    border-color: #d6d9dc;
 }
 .google-login:hover {
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
 }
 .facebook-login {
   color: #FFF;
   background-color: #395697;
   border-color: transparent;
 }
.facebook-login:hover {
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}
.svg-icon {
    vertical-align: middle;
    padding-bottom: 4px;
}

.password-uncheck {
    display: none;
    font-size: 10pt;
    color: rgb(194, 16, 0);
}
.password-uncheck:hover {
    color: rgba(194, 16, 0, 0.8);
}

button:hover {
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}

/*---Floating input---*/
input {
    padding: 5px;
    display: block;
    width: 20vw;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}
.input-label {
    color: #3B3B3B;
    font-size: 18px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
input:focus ~ .input-label{
    font-size: 16px;
    color: #001479;
    transition: 0.2s ease-in-out;
}
.form-control:focus {
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}
/*Cover page*/
.image-avatar {
    margin-right: 1rem;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

nav {
    margin-top: 1rem;
    background-color: #001479;
}

main {
    transition: visibility 0s linear 300ms, opacity 300ms;
}

footer {
    margin-top: 5%;
    color: blue;
    border-top: 2px solid #cccccc;
    background-color: rgba(204, 204, 204, 0.1);
    width: 100%;
    bottom: 0;
}

.nav-category{
    background-color: #001479;
    color: white;
}
.nav-category :hover{
    background-color: #395697;
    color: white;
}
  
.nav-category > li >a {
    background-color: #001479;
    color: white;
}

.side-navbar {
    background-color: rgba(204, 204, 204, 0.1);
    width: 18rem;
    height: 100%;
    margin-left: -300px;
    border: 2px solid #cccccc;
    position: fixed;
    transition: 0.5s;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #cccccc;
    display: inline-block;
    vertical-align: middle;
}
.side-navbar a, .side-navbar span, .side-navbar label {
    color: #001479;
}

.underline {
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
  }
.h3:active,
.h3:focus,
.h3:hover {
cursor: auto;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}
.my-container {
    transition: 0.4s;
}
.active-nav {
    margin-left: 0;
}
  /* for main section */
.active-cont {
    margin-left: 18rem;
}
#menu-btn {
    background-color: #cccccc;
    color: #fff;
    margin-left: -62px;
}

input[type="radio"]:checked + label {
    background-color: #001479;
}

#sidebar {
    position: static;
    float: left;
    height: 100%;
}

/* Bootstrap 4 Form*/
.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row > .col {
    padding-left: 5px;
    padding-right: 5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 4px;
    padding-left: 5px;
}
.form-control {
    padding: 1rem 0.75rem
}
label {
    margin-bottom: 0.5rem;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}
@media only screen and (max-width: 767px) {
	body {
		width: 100%;
		height: 100vh;
	}

    .line-box {
        height: 3px;
        width: 100%;
        text-align: center;
        margin-top: 0.82rem;
    }

    .v-line {
        margin: 0px auto;
        height: 2px;
        width: 95%;
    }

    .social-media {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    .social-media +button {
        margin-top: 0px;
    }

}

/* Mobile S */
@media only screen and (max-width: 375px) {
    .reg-text {
        font-size: 15px;
    }
}

