<!doctype html>
<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap-icons/font/bootstrap-icons.css">

        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">

        <!-- Global script -->
        <script type="text/javascript" src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>UzmiKnjigu - {% block naslov %}Pocetna{% endblock %}</title>

    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3">
                © 2022 Danijela & Stefan <br>
                Internet tehnologije i programiranje
            </div>
            <!-- Copyright -->
        </footer>

        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
